<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app/lib</directory>
            <directory suffix=".php">01-Simple/public</directory>
            <directory suffix=".php">02-Styled/public</directory>
            <directory suffix=".php">03-Plugins/public</directory>
            <directory suffix=".php">04-Themes/public</directory>
            <directory>05-Autoload/src</directory>
            <directory>06-Session/src</directory>
            <directory>07-PDO/src</directory>
            <directory>08-Users/src</directory>
            <directory>09-Blog/src</directory>
        </include>
    </source>
</phpunit>
